<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <div>
    <input id="first-date" type="date" onchange="getData(event)">
    <input id="second-date" type="date" onchange="getData(event)">
    <select name="" id="currency" onchange="getData(event)">
      <option value="USD">Selecione moeda</option>
      <option value="BRL">Real (BRL)</option>
      <option value="USD">Dólar (USD)</option>
      <option value="EUR">Euro (EUR)</option>
    </select>
    <h3 id="min">Min:</h3>
    <h3 id="max">Max:</h3>
    <canvas id="myChart"></canvas>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>